.bloque-imagen
  background-image: url('../assets/curso/img2.jpg') !important 
  //background-color: #CCFFFF !important
  background-size: auto
.bloque--griss
  background-color: #E8E8E8 !important
.card-cyan
  background-color: #CCFFFF
  width: 292px
  flex-grow: 1
  margin-bottom: 50px
.tarjetas-cyan
  flex-wrap: wrap